workflows/hr_ingestion_workflow.json
{
    "name": "HR Employee Ingestion Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "options": {}
            },
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "1"
        },
        {
            "parameters": {
                "functionCode": "// Extract image URL and metadata from WhatsApp payload\nconst body = items[0].json.body;\nreturn [{\n  json: {\n    imageUrl: body.message.image.url,\n    sender: body.sender.pushname,\n    phone: body.sender.id\n  }\n}];"
            },
            "name": "Extract Metadata",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "2"
        },
        {
            "parameters": {
                "url": "={{$node[\"Extract Metadata\"].json[\"imageUrl\"]}}",
                "responseFormat": "file",
                "options": {}
            },
            "name": "Download Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "3"
        },
        {
            "parameters": {
                "operation": "textExtraction",
                "options": {}
            },
            "name": "OCR Service (Mock)",
            "type": "n8n-nodes-base.googleVision",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "4"
        },
        {
            "parameters": {
                "functionCode": "const validator = require('./scripts/data_validator');\nconst rawText = items[0].json.text;\n// Logic to parse raw text into fields (regex-based for common forms)\nconst parsed = {\n  firstName: rawText.match(/First Name:\\s*(.*)/)?.[1],\n  lastName: rawText.match(/Last Name:\\s*(.*)/)?.[1],\n  email: rawText.match(/Email:\\s*(.*)/)?.[1],\n  phone: items[0].json.phone,\n  taxId: rawText.match(/Tax ID:\\s*(.*)/)?.[1]\n};\n\nconst result = validator.process(parsed);\nif (result.isValid) {\n  return [{\n    json: {\n      assignedId: 'NC-NEW-' + Math.floor(Math.random() * 1000),\n      name: result.data.firstName + ' ' + result.data.lastName,\n      contact1: result.data.phone,\n      district: 'TBD',\n      designation: 'Staff',\n      cnic: result.data.taxId,\n      gender: 'TBD',\n      dob: result.data.dob || 'No record'\n    }\n  }];\n} else {\n  throw new Error('Validation failed: ' + result.errors.join(', '));\n}"
            },
            "name": "Validate & Clean",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ],
            "id": "5"
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://script.google.com/macros/s/AKfycbyj9GDz9XHuEcgMOFeapiBHxri9JAbSpQwVQwWs86TE9o6ccAeH8oTDUO9pPZp3dqTEDg/exec",
                "jsonParameters": true,
                "options": {},
                "bodyParametersJson": "={{$json}}"
            },
            "name": "Google Sheets Staging",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ],
            "id": "6"
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Metadata",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Metadata": {
            "main": [
                [
                    {
                        "node": "Download Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Image": {
            "main": [
                [
                    {
                        "node": "OCR Service (Mock)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OCR Service (Mock)": {
            "main": [
                [
                    {
                        "node": "Validate & Clean",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate & Clean": {
            "main": [
                [
                    {
                        "node": "Google Sheets Staging",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}